*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/caches/deviceStreaming.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/ss26-aktivitatstracker.iml
/.idea/vcs.xml
/.idea/workspace.xml

# Android / Gradle
**/build/
.gradle/
local.properties

# IDE Einstellungen
.idea/
*.iml

# Mac Systemdateien
.DS_Store

# Temporäre Patches/Sicherungen
*.patch

# Env
.env
*.env
!.env.example
