*.iml
.gradle
/android/local.properties
/android/.idea/caches
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android/.idea/navEditor.xml
/android/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
android/local.properties
/android/.idea/caches/deviceStreaming.xml
/android/.idea/markdown.xml
/android/.idea/misc.xml
/android/.idea/modules.xml
/android/.idea/ss26-aktivitatstracker.iml
/android/.idea/vcs.xml
/android/.idea/workspace.xml

# Android / Gradle
**/build/
.gradle/
android/local.properties
release-key.jks

# IDE Einstellungen
android/.idea/
*.iml

# Mac Systemdateien
.DS_Store

# Temporäre Patches/Sicherungen
*.patch

# Env
.env
*.env
!.env.example

/.idea/caches/deviceStreaming.xml
/local.properties
/.idea/markdown.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
